@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

.section {
  background-color: #252525;
}
.topSection {
  display: flex;
  justify-content: space-between;
  padding: 20px 60px;
}
.logo {
  height: 60px;
}
.icons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 30px;
  text-decoration: none;
  margin: 0px 10px;
}
.instagram {
  background: linear-gradient(#feda75, #fa7e1e, #d62976, #962fbf, #4f5bd5);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: 0.6s;
}
.linkedin {
  color: #0077b5;
  transition: 0.6s;
}
.instagram:hover,
.linkedin:hover {
  opacity: 0.6;
}
.division {
  margin: 0;
  color: rgb(150, 150, 150);
  width: 100%;
  border-width: 1px;
  border-radius: 1px;
}

.middleSection {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 20px 50px;
}
.centerElement {
  display: flex;
  justify-content: center;
}
.content {
  display: flex;
  flex-direction: column;
  text-align: left;
}
.heading {
  color: grey;
  font-family: "Poppins", sans-serif !important;
  font-size: 20px;
  font-weight: 500;
}
hr {
  margin: 0;
  color: rgb(150, 150, 150);
  width: 50px;
  border-width: 2px;
  border-radius: 1px;
  margin-bottom: 10px;
}
.linkBox {
  margin: 2px 0px;
}
.link {
  text-decoration: none;
  font-family: "Poppins", sans-serif !important;
  font-size: 15px;
  color: rgb(200, 200, 200);
}
.link:hover {
  text-decoration: underline;
}
.subHeading {
  color: gray;
  font-family: "Poppins", sans-serif !important;
  font-size: 17px;
  font-weight: 500;
}
.contactInfo {
  font-family: "Poppins", sans-serif !important;
  font-size: 15px;
  color: rgb(200, 200, 200);
  margin: 2px 0px;
  margin-bottom: 5px;
}

.botomSection {
  background-color: #202020;
  font-family: "Poppins", sans-serif !important;
  font-size: 12px;
  font-weight: 300;
  color: rgb(200, 200, 200);
  padding: 15px 0px;
}
.rhynoLink {
  font-family: "Poppins", sans-serif !important;
  font-size: 12px;
  font-weight: 300;
  text-decoration: none;
  color: rgb(200, 200, 200);
}
.rhynoLink:hover {
  text-decoration: underline;
}

@media (max-width: 991.34px) {
  .middleSection {
    grid-template-columns: 1fr 1fr;
    padding: 20px 100px;
    row-gap: 20px;
  }
  .centerElement {
    justify-content: flex-start;
  }
}
@media (max-width: 600px) {
  .middleSection {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 400px) {
  .topSection {
    padding: 20px 15px;
  }
  .logo {
    height: 50px;
  }
  .icons {
    font-size: 23px;
  }
  .middleSection {
    padding: 20px 35px;
  }
  .heading {
    font-size: 17px;
  }
  .linkBox {
    margin: 1px 0px;
  }
  .link {
    font-size: 12px;
  }
  .subHeading {
    font-size: 14px;
  }
  .contactInfo {
    font-size: 12px;
  }
  .botomSection,
  .rhynoLink {
    font-size: 10px;
  }
}
